head{
	font: "Helvetica Neue", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #D8D8D8;
}

body{
	background-color: #171717;
	color: #D8D8D8; 
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

.fillscreen{
	height: 100vh;
}

.titular{
	display : inline-flex;
	font-size: 10vw;
	margin-left : 2vw;
	position: relative;
}

.main-content{
	background-color: aliceblue;
	display : grid;
	grid-template-areas: ". greet ."
						 "proj proj proj"
						 "proj proj proj";
	row-gap: 30px;
	grid-template-rows : repeat(1fr, 3);
	grid-template-columns: auto 2fr;
}

.center{
	align-content: center;
	justify-content: center;
	text-align: center;
	display: flex;
}

.greeting{
	margin-left: 25vw;
	width: 28vw;
	text-align: center;
	display: inline-flex;
}

.textual{
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
	position: relative;
}

.project{
	grid-area : proj;
}

.img-center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.quarter-img{
	width: 25%;
	height: 25%;
}

.small-img{
	width: 100px;
	height: 100px;
}

.med-img{
	width: 300px;
	height: 300px;
}

.fade-in{
	-moz-animation: fadein 3.5s; 
}

@-moz-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.hidden{
	visibility: hidden;
}

.visible{
	visibility: visible;
}

.strip{
	display: table;
	width: 100%;
	table-layout: auto;
	background-color: #0F0F0F;
}

.box{
	display: table-cell;
	background-color: #4F4F4F;
	margin-left: 5px;
	margin-right: 5px;
}

.button{
	background-color: #0F0F0F;
	color: #AA0000;
	border: 0px;
	border-radius: 10px;
}

.button:hover{
	color: #FF2E2E;
	/*background-color: #FF2E2E;*/
}